# ------------------------------------------------------
#    ENTORNOS (Nix + Direnv)
# ------------------------------------------------------
/.direnv
/.envrc

# ------------------------------------------------------
#    VARIABLES DE ENTORNO
# ------------------------------------------------------
/.env
/.env.dev
/.env.local
/.env.local.php
/.env.*.local

# ------------------------------------------------------
#    SYMFONY (cache/logs/var/vendor)
# ------------------------------------------------------
/config/secrets/*/*decrypt.private.php
/var/
/vendor/

# ------------------------------------------------------
#    VITE / NPM / PNPM
# ------------------------------------------------------
/node_modules/
/public/build/

# ------------------------------------------------------
#    PHP-CS-FIXER
# ------------------------------------------------------
/.php-cs-fixer.php
/.php-cs-fixer.cache

# ------------------------------------------------------
#    ARCHIVOS TEMPORALES QUE VEO EN TU PROYECTO
# ------------------------------------------------------
*.conform.*

# ------------------------------------------------------
#    DOCKER (si los usas localmente)
# ------------------------------------------------------
docker-compose.yml

# ------------------------------------------------------
#    MISC
# ------------------------------------------------------
*.log
*.cache
